<%- include("partials/header.ejs") %>
  <div class="chatSelectionDiv">
    <hr>
    <% for(var x = chatRoom.length - 1; x >= 0; x--){ %>
      <div class="roomOptions" onclick="window.location='/home/chat/<%= chatRoom[x].room_name %>';" <% if(roomName == chatRoom[x].room_name){ %> style="text-decoration: underline;" <% } %>>
        <h4><%= chatRoom[x].room_name %></h4>
        <hr>
      </div>
    <% } %>
  </div>

  <!-- Add person button -->
  <div class="chatDisplay">
    <img class="newRoomBtn" width="5%" src="/addFriend.png" id="newRoom">
    <div id="newRoomDiv">
      <h2>Add a Friend</h2>
      <form action="/home/chat/:<%= roomName %>/addFriend" method="POST">
        <div class="input-group mb-3 input-group-lg">
          <input type="text" class="form-control"  name="name" aria-label="Recipient's username" aria-describedby="button-addon2" id="rName">
          <div class="input-group-append">
            <button class="btn btn-outline-danger" type="submit" id="button-addon2">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="/newRoom.js"></script>
  <!-- End of add person button -->


  <div class="chatDisplay">
    <hr>
  </div>
  <div class="chatDiv">
    <form action="#" onsubmit="sendMsg();return false">
      <div class="input-group mb-3">
        <input id="chatInput" type="text" class="form-control chatInp" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-danger" type="button" id="button-addon2">Send</button>
        </div>
      </div>
    </form>
  </div>

  <script src="/socket.io/socket.io.js"></script>

  <script type="text/javascript">
    var socket = io(),
        inp = document.querySelector('#chatInput'),
        chatDisplay = document.querySelector('.chatDisplay');

    function sendMsg(){
      if(inp.value.length != 0){
        socket.emit('msg', inp.value, '<%= currentUser.username %>');
        inp.value = "";
      }
    }
    socket.on('msg', function(msg){
      chatDisplay.innerHTML += "<img src='/userPic.png' class='profilePic'><p class='chatMsg'>" + msg + "</p><br><h6 style='font-size: 10px;'>" + new Date().getMonth() + "/" + new Date().getDate() + "/" + new Date().getFullYear() + " @ " + new Date().getHours() + ":" + new Date().getMinutes() + "</h6><hr>";
    });
  </script>

<%- include("partials/footer.ejs") %>
